.menu-button{
	-fx-background-image:url(../images/MenuBar/MB.png) no-repeat;
	-fx-background-color:#6B6B6B;
	-fx-border:none;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}