.borderPane{
    -fx-background-color: lightgoldenrodyellow;
}
.root {
    -fx-background-color: lightgoldenrodyellow;
}
.menuButton {
    -fx-display: inline-block;
    -fx-background-image:url(/images/MenuBar/button2b.png);
    -fx-background-color:#6B6B6B;
    -fx-border-radius: 10px;
    -fx-border: none;
    -fx-text-fill : white;
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-padding: 20px;
    -fx-cursor: pointer;
}

.title{
    -fx-font-size: 17px;
    -fx-text-fill: cornflowerblue;
    -fx-font-weight: bold;
}

.menu-button{
    -fx-background-image:url(/images/MenuBar/QuickApp.png) no-repeat;
    -fx-background-color:none;
    -fx-border:none;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.botPane{
    -fx-background-color: #f4f490;
}

.frenchButton{
    -fx-background-image:url(/images/MenuBar/france.png) no-repeat;
    -fx-background-color:none;
    -fx-border-radius: 7px;
}
.englishButton{
    -fx-background-image:url(/images/MenuBar/angleterre.jpg);
    -fx-background-color:none;
    -fx-border-radius: 7px;
}

.typeShopButton{
    -fx-background-color: sandybrown;
    -fx-text-fill: black;
    -fx-border-color: saddlebrown;
    -fx-border-radius: 5px;
}

.typeShopButton:hover{
    -fx-border-width: 5px;
}

.hyperlink {
    -fx-text-fill: darkred;
}
.hyperlink:hover,
.hyperlink:focused {
    -fx-text-fill: darkred;
    -fx-underline: true;
}

.menu-item:hover{
    -fx-background-color: black ;
}